{% extends 'dashboard.twig' %}
{% block content %}
    <div class="">
    	<div class="">
	    	<h3 class="fw300">Change your password</h3>
	    	<form action="{{ path_for('dashboard.account.password') }}" method="POST">
	    		{{ csrf()|raw }}
	    		<label for="old_password" class="{{ errors.old_password ? 'has-error' }}">
	    			Your current password
	    			<input type="password" name="old_password">
	    			{% if errors.old_password %}
	    				<span class="help-block">
	    					{{ errors.old_password|first }}
	    				</span>
	    			{% endif %}
	    		</label>
	    		<label for="new_password" class="{{ errors.new_password ? 'has-error' }}">
	    			Your new password
	    			<input type="password" name="new_password">
	    			{% if errors.new_password %}
	    				<span class="help-block">
	    					{{ errors.new_password|first }}
	    				</span>
	    			{% endif %}
	    		</label>
	    		<button type="submit" class="btn">Change password</button>
	    	</form>
    	</div>
    </div>
{% endblock %}